@media (max-width: 1290px) {
    .slider_section .detail-box {
        padding-left: 50px;
    }

}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
    .hero_area {
        height: auto;
    }


    .slider_section .carousel-control-prev,
    .slider_section .carousel-control-next {
        top: 72%;
    }

}

@media (max-width: 768px) {
    .slider_section .number-box {
        display: none;
    }

    .slider_section .detail-box {
        padding-left: 0px;
        text-align: center;
    }

    .slider_section .carousel-control-prev,
    .slider_section .carousel-control-next {
        top: 72%;
    }

    .slider_section .detail-box {
        margin-bottom: 90px;
    }

    #myVideo
    {
        height: auto;
        width:100%;
    }


    .get_section .detail-box {
        text-align: center;
    }

    .get_section .img-box {
        margin-bottom: 15px;
    }

    .client h1
    {
       font-size: 15px;
    }
}

@media (max-width: 576px) {
    .hero_area {
        background-position: left;
    }

    .slider_section .carousel-control-prev,
    .slider_section .carousel-control-next {
        top: 72%;
        display: none;
    }

    .slider_section .detail-box h2 {
        font-size: 2.2rem;
    }

    .slider_section .detail-box h1 {
        font-size: 4rem;
    }

    .slider_section .detail-box a {
        margin-top: 20px;
    }

    .shop_section .shop_content .shop_heading {
        padding: 0 10px 15px 10px;
    }

    .shop_section .shop_container {
        padding: 0;
    }

    .sub_page .hero_area {
        padding-bottom: 0;
    }
    #videoMessage2 h1
    {
       font-size: 15px;
    }
    #videoMessage2 h2 {

        font-size:12px;

    }
    .button span {
 font-size: 12px;

    }
    .button
    {
        width: 200px;
    }
}


@media (max-width: 480px) {
    .custom_heading h3 {
        text-align: center;
    }

}

@media (max-width: 420px) {
    .slider_section .detail-box h2 {
        font-size: 2rem;
    }

    .slider_section .detail-box h1 {
        font-size: 3rem;
    }
    .button span {
        font-size: 10px;
       
           }
           .button
           {
               width: 140px;
           }
           #videoMessage2 h1
           {
              font-size: 11px;
           }
           #videoMessage2 h2 {
       
               font-size:10px;
       
           }
   

}

@media (max-width: 350px) {
    .shop_section .shop_content .shop_heading h4 {
        font-size: 1.2rem;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
   
}